@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.inicio {
    cursor: pointer;
}
.fondo-diccionario {
    background-color: #E0EEF4;
}

.btn-group {
    width: 100%; 
    background-color: #29A9E1;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin: auto;
    margin-top: -14px;
}


.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group > .seleccionar {
    font-size: 16px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 1em;
}

.btn-group > .seleccionar:hover {
    background: #1394CD;
    color: #FFFFFF;
}

.btn-default {
    color: white;
   
}

.nombre_palabra {
    position: relative;
    top: 10px;
}

.modal{
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    
    
}

img.flecha {
    width: 29px;
    height:29px;
    position: relative;
    top: -2px;
    left: 3px;
}



@media (max-width: 1278px) {

    .btn-toolbarx {
       display: none;
    }
  }

  .text-sky-500 {
    --tw-text-opacity: 1;
    color: rgb(14 165 233 / var(--tw-text-opacity));
}

.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.equis {
    position: relative;
    top: 10px;
    left: -20px;
}

.ico_heart_favorito {
    top: 6em;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    z-index: 20;
}


img.heart {
    background-image: url(/images/heart-fill.png);
    display: block;
    width: 0px;
    height: 0px;
    outline: none;
    padding: 43px 51px 43px 51px;
    background-repeat: no-repeat;
    background-size: 20px;
}

ul.flex > li {
  margin: 1em;
}
img.heart-fill {
    background-image: url(/images/heart.png);
    display: block;
    width: 20px !important;
    height: 20px !important;
    outline: none;
    padding: 43px 51px 43px 51px;
    background-repeat: no-repeat;
    background-size: 20px;
}
@media (max-width: 1004px) {

    .movil {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  }