@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.fondo-diccionario {
    background-color: #E0EEF4;
}

@media (max-width: 1004px) {

    .movil {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  }