@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.fondo-diccionario {
    background-color: #E0EEF4;
}

.btn-group {
    width: 100%; 
    background-color: #29A9E1;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    margin: auto;
    margin-top: -14px;
}


.btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group > .seleccionar {
    font-size: 16px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 1em;
}

.btn-group > .seleccionar:hover {
    background: #1394CD;
    color: #FFFFFF;
}

.btn-default {
    color: white;
   
}

.nombre_palabra {
    position: relative;
    top: 10px;
}

.modal{
    cursor: pointer;
}
@media (max-width: 1278px) {

    .btn-toolbarx {
       display: none;
    }
  }

  .text-sky-500 {
    --tw-text-opacity: 1;
    color: rgb(14 165 233 / var(--tw-text-opacity));
}

.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.equis {
    position: relative;
    top: 10px;
    left: -20px;
}

@media (max-width: 1004px) {

    .movil {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  }